<div class="container">
  <mat-card class="example-card">
      <mat-card-title>Macbook</mat-card-title>
      <img class="image" mat-card-image src="../../../assets/images/macbook.svg">	
    <mat-card-content>
      <p>Price: 200</p>
      <p>Chip: 200</p>
      <p>Year: 2023</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">Add to cart</button>
      <button class="button" mat-flat-button color="primary">Detail</button>
    </mat-card-actions>
  </mat-card>
  

</div>