.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

mat-card {
  background-color: rgb(210, 205, 210);
  color: black;
}

.button {
  margin-right: 5px;
}
.image {
  max-width: 300px;
}